Homework1/
Homework2/Bitset/bitset.vvp
Homework2/Comparator/comparator.vvp
Homework2/Homework-2-Rizzo.docx
Homework2/Homework-2-Rizzo.pdf
Homework3/t_flip_flop.vvp
Homework3/32_bit_store.vvp
Homework3/HW3.docx
Homework3/debug.log
Homework4/HW4.docx
Homework4/thirtytwobitreg.vvp
Homework6/q1_1.jpg
Homework6/q1_2.jpg
Homework6/q1_3.jpg
Homework6/q2_1.jpg
Homework6/q2_2.jpg
Homework6/q2_3.jpg